In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()
#df.shape

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
x = df.iloc[:,[0,1]]
y = df.iloc[:,2]

In [4]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(x, y, test_size=0.3, random_state=0)

In [7]:
print("Training Data: ", X_Train.shape)
print("Testing Data: ", X_Test.shape)

Training Data:  (280, 2)
Testing Data:  (120, 2)

In [10]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(X_Train, Y_Train)

Y_Pred = (classifier.predict(X_Test))

In [11]:
from sklearn import metrics
print(metrics.accuracy_score(Y_Test, Y_Pred))

0.7916666666666666